@page "/w/{folderSlug}"
@page "/w/{folderSlug}/{articleSlug}"

<div class="header-bar" id="header-bar-bar">
    <div class="header-bar-logo">
        <img src="img/Web_Logo_purple.png" alt="onlyati_logo" />
    </div>
    <div class="header-bar-brandname" id="header-brandname">
        <span>OnlyAti Services</span>
    </div>
    <div class="header-bar-title" id="header-bar-bar-title">
        @if (DocTitle != null)
        {
            <span>@DocTitle</span>
        }
    </div>
    <div class="header-bar-back" @onclick="@(() => NavManager.NavigateTo("/"))">
        <img src="icons/error_sign_white.png" width="48" height="48" alt="back_icon" />
        <p>Close</p>
    </div>
    <div class="header-bar-save" @onclick="SaveArticle">
        <img src="icons/save_icon_white.png" width="48" height="48" alt="save_icon" />
        <p>Save</p>
    </div>
</div>

@if (string.IsNullOrEmpty(DocTitle) || string.IsNullOrWhiteSpace(DocTitle))
{
    <h1 contenteditable="true" id="write-doc-title" class="placeholder-text" onclick="javascript:ClearText(this.id)" @onfocusout="SaveTitle">Write title here</h1>
}
else
{
    @if (articleSlug == null)
    {
        <h1 contenteditable="true" id="write-doc-title" @onfocusout="SaveTitle">@DocTitle</h1>
    }
    else
    {
        <h1>@DocTitle</h1>
    }

}

@if (ContentParts != null)
{
    @foreach (var part in ContentParts)
    {
        <div>
            @if (string.IsNullOrWhiteSpace(part.Content) || string.IsNullOrEmpty(part.Content))
            {
                <div contenteditable="true" class="edit-element" id="@part.ElementReference" @onfocusout="() => SaveContent(part.ElementReference)"></div>
            }
            else
            {
                @if (part.Edit)
                {
                    <div contenteditable="true" class="edit-element" id="@part.ElementReference" @onfocusout="() => SaveContent(part.ElementReference)"></div>
                }
                else
                {
                    <div class="browse-site-content" id="@part.ElementReference" @onclick="() => TurnOnEdit(part)">
                        @((MarkupString)part.ContentHTML)
                    </div>
                }
            }
        </div>
    }
}
