@page "/w/{folderSlug}"
@page "/w/{folderSlug}/{articleSlug}"

@if (string.IsNullOrEmpty(DocTitle) || string.IsNullOrWhiteSpace(DocTitle))
{
    <h1 contenteditable="true" id="write-doc-title" class="placeholder-text" onclick="javascript:ClearText(this.id)" @onfocusout="SaveTitle">Write title here</h1>
}
else
{
    @if (articleSlug == null)
    {
        <h1 contenteditable="true" id="write-doc-title" @onfocusout="SaveTitle">@DocTitle</h1>
    }
    else
    {
        <h1>@DocTitle</h1>
    }

}

@if (ContentParts != null)
{
    @foreach (var part in ContentParts)
    {
        <div>
            @if (string.IsNullOrWhiteSpace(part.Content) || string.IsNullOrEmpty(part.Content))
            {
                <div contenteditable="true" class="edit-element" id="@part.ElementReference" @onfocusout="() => SaveContent(part.ElementReference)"></div>
            }
            else
            {
                @if (part.Edit)
                {
                    <div contenteditable="true" class="edit-element" id="@part.ElementReference" @onfocusout="() => SaveContent(part.ElementReference)"></div>
                }
                else
                {
                    <div class="browse-site-content" id="@part.ElementReference" @onclick="() => TurnOnEdit(part)">
                        @((MarkupString)part.ContentHTML)
                    </div>
                }
            }
        </div>
    }
}
